<!-- v-for를 사용하여 배열에 접근하는 예제 -->

<body>
    <div id="app">
        <p>v-for로 배열의 요소에 접근</p>
        <ul>
            <li v-for="item in items">
                {{ item }}
            </li>
        </ul>

        <p>v-for에서 index 사용하기</p>
        <ul>
            <li v-for="(fruit, index) in fruits" :key="fruit">
                {{index}} : {{fruit}}
            </li>
        </ul>
        <button v-on:click="addItem">과일추가</button>
    </div>
</body>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
    Vue.createApp({
        data() {
            return {
                items: ['삼성', '네이버', '인프런'],
                fruits: ['사과', '바나나', '딸기'],
            };
        },
        methods: {
            addItem() {
            this.fruits.unshift('샤인머스캣'); // 리스트 앞에 요소 추가
            }
        }
    }).mount('#app');
</script>